@model Asp.Net_Final_Project.Models.MyInterestsInterestsItem
@{
    ViewData["Title"] = "Delete";
}

<div class="col-lg-8 offset-2">
    <div class="block p-5 text-center">
        <div class="alert alert-danger" role="alert">
            Are you sure?
        </div>
        <hr />
        <div class="table-responsive my-5">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Interests</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="@Model.InterestsIcon"></i></td>
                        <td>@Model.InterestsName</td>
                    </tr>
                </tbody>
            </table>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group mt-5">
                    <hr />
                    <input type="submit" value="Delete" class="btn btn-danger btn-block">
                    <a asp-area="Admin" asp-controller="InterestsItem" asp-action="Index" class="text-white btn btn-success btn-block">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>